/* ===========================
Responsive Money-master section
=========================== */
@media only screen and (max-width: 1200px){
    .container{
        max-width: 100%;
        padding: 0 30px;
    }
}

@media only screen and (max-width: 1024px){
    .money-master{
        grid-column-gap: 20px;
    }

    .money-master .money-master-img img{
        height: 100vh;
    }
}

@media only screen and (max-width: 768px){
    .money-master{
        grid-template-columns: 100%;
        grid-row-gap: 25px;
    }
}

@media only screen and (max-width: 425px){
    .container{
        padding: 0 15px;
    }

    .money-master .money-master-form{
        padding: 25px 20px;
    }
}