/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

/* Common CSS Style */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #dff9fb;
}