/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

/* Common CSS Style Start */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #dff9fb;
}

.section-title{
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* Common CSS Style End */

/* Money-master section start */
.money-master{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
}

.money-master .money-master-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
/* Money-master section end */